<div class="back-ground-container">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="grid-header">
        <h1 class="header">Esqueci minha senha!</h1>
        <h2 class="subheader">Insira seu email para receber codigo de validação</h2>
      </div>
      <div class="grid-fields">
        <div class="field">
          <input pInputText id="email" formControlName="email" type="email" placeholder="E-mail" />
          <div class="error-message"
            *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.hasError('email')">
            E-mail inválido.
          </div>
        </div>
      </div>
    </div>
    <div class="field-buttons">
      <button pButton type="submit" label="Enviar Código" [disabled]="forgotForm.invalid"></button>
    </div>
    <div *ngIf="isLoading" class="loading-overlay">
      <div class="loading-card">
        <svg class="spinner" viewBox="0 0 50 50">
          <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5" />
        </svg>
        <p>Enviando código para o e-mail...</p>
      </div>
    </div>
  </form>
</div>