<main class="form-signin w-100 m-auto">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <!-- Ícone de cadeado -->
    <div class="text-center mb-3">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        fill="currentColor"
        class="bi bi-upc"
        viewBox="0 0 16 16"
      >
        <path
          d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z"
        />
      </svg>
    </div>
    <div class="mt-3 text-center">
      <div *ngIf="successMessage" class="alert alert-success fade-out">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger fade-out">
        {{ errorMessage }}
      </div>
    </div>

    <h1 class="h3 mb-3 fw-normal text-center">Esqueci a senha</h1>

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid
        }"
      />
      <label for="floatingInput">Email</label>
      <div
        class="invalid-feedback"
        *ngIf="
          forgotForm.get('email')?.touched &&
          forgotForm.get('email')?.hasError('required')
        "
      >
        Email é obrigatório.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="
          forgotForm.get('email')?.touched &&
          forgotForm.get('email')?.hasError('email')
        "
      >
        Insira um email válido.
      </div>
    </div>
    <button
      class="btn btn-primary w-100 py-2"
      type="submit"
      [disabled]="forgotForm.invalid"
    >
      Enviar código
    </button>

    <p class="mt-5 mb-3 text-body-secondary text-center">Projeto Vet – 2025</p>
  </form>
</main>
