<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-2">Lista de Animais Cadastrados</h5>
          <div class="d-flex justify-content-between header-labels">
            <span>Responsável</span>
            <span>Nome</span>
            <span>Espécie</span>
            <span>Data de Cadastro</span>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let animal of filteredAnimals"
              class="list-group-item list-group-item-action"
              (click)="navigateToProfile(animal.id)"
              [routerLink]="['/profile-animal', animal.id]"
            >
              <div class="d-flex justify-content-between">
                <span>{{ animal.responsible.nome }}</span>
                <span>{{ animal.name }}</span>
                <span>{{ animal.specie }}</span>
                <span>{{ animal.dateRegister | date: 'dd/MM/yyyy' }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
