.custom-navbar {
  background-color: #212529;
  padding: 10px 20px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.center-search .form-control {
  max-width: 300px;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.dropdown {
  position: relative;
}

.btn-secondary {
  color: #28a745;
  border-color: #28a745;
  background-color: #212529;
}


.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  right: 0;
  left: auto;
  margin-top: 5px;
  min-width: 150px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  cursor: pointer;
  color: #212529;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #16181b;
}
