<div class="sidebar bg-dark" id="navbarContent">
  <div class="logo">
    <h4><a class="navbar-brand" routerLink="/home">Project Vet</a></h4>
  </div>
  <div class="p-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">Agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Animais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Estoque</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Petshop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clínica Veterinária</a>
      </li>
    </ul>
  </div>
</div>
