<main class="form-signin w-100 m-auto">
  <form [formGroup]="animalForm" (ngSubmit)="onSubmit()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="60"
      height="60"
      fill="currentColor"
      class="bi bi-clipboard"
      viewBox="0 0 16 16"
    >
      <path
        d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"
      />
      <path
        d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"
      />
    </svg>
    <h1 class="h3 mb-3 fw-normal">Cadastro de Animal</h1>
    <div class="container">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInputName"
          placeholder="Nome"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              animalForm.get('name')?.touched && animalForm.get('name')?.invalid
          }"
        />
        <label for="floatingInputName">Nome</label>
        <div class="invalid-feedback">Nome é obrigatório.</div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="floatingInputAge"
              placeholder="Idade"
              formControlName="age"
              [ngClass]="{
                'is-invalid':
                  animalForm.get('age')?.touched &&
                  animalForm.get('age')?.invalid
              }"
            />
            <label for="floatingInputAge">Idade</label>
            <div class="invalid-feedback">
              Idade é obrigatória e deve ser um número válido.
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInputBreed"
              placeholder="Raça"
              formControlName="race"
              [ngClass]="{
                'is-invalid':
                  animalForm.get('race')?.touched &&
                  animalForm.get('race')?.invalid
              }"
            />
            <label for="floatingInputBreed">Raça</label>
            <div class="invalid-feedback">Raça é obrigatória.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInputSpecies"
              placeholder="Espécie"
              formControlName="specie"
              [ngClass]="{
                'is-invalid':
                  animalForm.get('specie')?.touched &&
                  animalForm.get('specie')?.invalid
              }"
            />
            <label for="floatingInputSpecies">Espécie</label>
            <div class="invalid-feedback">Espécie é obrigatória.</div>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInputResponsible"
              placeholder="CPF do Responsável"
              formControlName="responsible"
              [ngClass]="{
                'is-invalid':
                  animalForm.get('responsible')?.touched &&
                  animalForm.get('responsible')?.invalid
              }"
            />
            <label for="floatingInputResponsible">CPF do Responsável</label>
            <div class="invalid-feedback">CPF é obrigatório.</div>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <select
          class="form-select"
          id="floatingInputService"
          formControlName="servicePet"
          [ngClass]="{
            'is-invalid':
              animalForm.get('servicePet')?.touched &&
              animalForm.get('servicePet')?.invalid
          }"
        >
        <option value="">Selecione um serviço</option>
        <option value="Petshop">Petshop</option>
        <option value="Clínica Veterinária">Clínica Veterinária</option>
        <option value="Clínica e Petshop">Clínica e Petshop</option>
        </select>
        <label for="floatingInputService">Serviço</label>
        <div class="invalid-feedback">Serviço é obrigatório.</div>
      </div>
    </div>
    <button
      class="btn btn-primary w-100 py-2"
      type="submit"
      [disabled]="animalForm.invalid"
    >
      Cadastrar
    </button>
    <p class="mt-5 mb-3 text-body-secondary">Projeto Vet – 2025</p>
  </form>
</main>
