<main class="form-signin w-100 m-auto">
  <form>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="60"
      height="60"
      fill="currentColor"
      class="bi bi-person"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
      />
    </svg>
    <h1 class="h3 mb-3 fw-normal">Cadastro de Animal</h1>
    <div class="container">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInputName" placeholder="Nome" />
        <label for="floatingInputAge">Nome</label>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputAge" placeholder="Idade" />
            <label for="floatingInputAge">Idade</label>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputBreed" placeholder="Raça" />
            <label for="floatingInputBreed">Raça</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputSpecies" placeholder="Espécie" />
            <label for="floatingInputSpecies">Espécie</label>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="form-floating">
            <select class="form-select" id="floatingInputService">
              <option value="" disabled selected>Serviço</option>
              <option value="Petshop">Petshop</option>
              <option value="Clínica">Clínica</option>
              <option value="Clínica e Petshop">Clínica e Petshop</option>
            </select>
            <label for="floatingInputService">Serviço</label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Cadastrar</button>
    <p class="mt-5 mb-3 text-body-secondary">Projeto Vet – 2025</p>
  </form>
</main>
