<div class="back-ground-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <!--Verifica Código -->
    <div *ngIf="step === 1">
      <div class="form-row">
        <div class="grid-header">
          <h1 class="header">Verificação do Código</h1>
          <h2 class="subheader">Insira o código enviado ao seu email</h2>
        </div>
        <div class="grid-fields">
          <div class="field">
            <input pInputText id="code" formControlName="code" type="text" placeholder="Código" />
            <div class="error-message" *ngIf="formGroup.get('code')?.touched && formGroup.get('code')?.hasError('required')">
              Código é obrigatório.
            </div>
          </div>
        </div>
      </div>
      <div class="field-buttons">
        <p-button label="Verificar" type="button" (click)="verifyCode()" [disabled]="formGroup.get('code')?.invalid"></p-button>
      </div>
    </div>

    <!--Redefini Senha -->
    <div *ngIf="step === 2">
      <div class="form-row">
        <div class="grid-header">
          <h1 class="header">Nova Senha</h1>
        </div>
        <div class="grid-fields">
          <div class="field" m-t10>
            <input pInputText id="newPassword" formControlName="newPassword" type="password" placeholder="Nova Senha" />
            <div class="error-message" *ngIf="formSubmitted && formGroup.get('newPassword')?.hasError('required')">
              Senha é obrigatória.
            </div>
          </div>
          <div class="field">
            <input pInputText id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirmar Senha" />
            <div class="error-message" *ngIf="formSubmitted && formGroup.get('confirmPassword')?.hasError('required')">
              Confirmação de senha é obrigatória.
            </div>
            <div class="error-message" *ngIf="formSubmitted && formGroup.hasError('mismatch')">
              As senhas não coincidem.
            </div>
          </div>
        </div>
      </div>
      <div class="field-buttons">
        <button pButton type="button" (click)="step = 1">Voltar</button>
        <p-button label="Confirmar" type="submit" [disabled]="formGroup.invalid"></p-button>
      </div>
    </div>
  </form>
</div>
