.custom-navbar {
  background-color: #212529;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar .logo {
  padding: 20px 20px 10px 20px;
  text-align: center;
  border-bottom: 1px solid #ced4da;
}

.logo h4 {
  margin: 0;
  color: #fff;
  font-weight: bold;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-suggestions {
  position: absolute;
  top: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  margin-top: 5px;

}

.search-suggestions .list-group-item {
  cursor: pointer;
  padding: 8px 12px;
}

.center-search .form-control {
  max-width: 300px;
}


.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.dropdown {
  position: relative;
}

.btn-secondary {
  color: #28a745;
  border-color: #28a745;
  background-color: #212529;
}


.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  right: 0;
  left: auto;
  margin-top: 5px;
  min-width: 150px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  cursor: pointer;
  color: #212529;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #16181b;
}
