<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-2">Lista de Atendimentos</h5>
          <div class="d-flex justify-content-between header-labels">
            <span>Responsável</span>
            <span>Animal</span>
            <span>Data de Atendimento</span>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let appointment of appointments"
              class="list-group-item list-group-item-action"
              (click)="navigateToProfile()"
              [routerLink]="['/animal-profile', appointment.animalId]"
            >
              <div class="d-flex justify-content-between">
                <span>{{ appointment.user }}</span>
                <span>{{ appointment.animal }}</span>
                <span>{{ appointment.date | date: 'dd/MM/yyyy' }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
